*{
    margin:0;
    padding: 0;
    font-family:Century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/1.jpg) ;
    height:100vh;
    background-size: cover;
    background-position: center;

}

/* Navbar start  here */

.navbar {
    float: right;
    overflow: hidden;
    
   margin-top:25px; 
   margin-right: 150px;
    
  }
  
  .navbar a {
   
    text-decoration:none;
    color:#fff;
    padding:5px 20px;
    border:1px solid transparent;


  
    font-size: 16px;
    
    text-align: center;
   

  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }

  
  .navbar a:hover, .dropdown:hover  .dropbtn  {
    background-color:white;
    color: #000;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
   
  }
  
  .dropdown:hover .dropdown-content  {
    display: block;
  }
  .navbar  span a{
      display: inline-block;
      background-color: #fff;
      color: black;
      padding:5px 20px ;
   
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top: -5px;
  }
  
  .dropdown:hover  .dropbtn  {
      padding-right: 60px;
  }
  

/* .navbar{
   float:right;
   list-style-type:none;
   margin-top:25px; 
}
.navbar li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    color:#fff;
    padding:5px 20px;
    border:1px solid transparent;
    transition:0.6s ease;
}
ul li a:hover{
    background-color:#fff ;
    color:#000;
}
ul li.active a{
    background-color:#fff ;
    color: #000;
} ul li ul li a{ 
    display:none;
    color: #fff;
    padding: 5px 20px;
    border:1px solid transparent ;
    transition:0.6s ease;
}
ul li:hover ul li a{
    display:block;
    background-color:#fff ;
    color:red;
    display: block;
    animation: drop 1s ease;
} */


.main{
    max-width:1200px ;
    margin:auto;
}
.title{
    position:absolute;
    top:45%;
    left:45%;
    transform:translate(-45%,-45%);
}
.title h1{
    color:#fff;
    font-size:60px;
    
}
.button{
    position: absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);

}
.btn{
    border:1px solid #fff;
    padding:10px 30px;
    color:#fff;
    text-decoration:none ;
    transition:0.6s ease;

}
.btn:hover{
    background-color:#fff ;
    color:#000;
}
footer{
    background-color: gray; 
     
    
}

footer p{
    margin-left: 700px;
    padding: 20px 20px;
}